.body {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.click-me-button{
    
    background-color: red;
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    
  }
  .modal-open {
    display: flex;
  }

  .modal-box{
    z-index: 1;
    max-width: 800px;
    max-height: 550px;
    background-color: white;
    border-radius: 3px;
  }